<html>
<style>
  body {
    background-image: url('../../static/img/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="author" content="colorlib.com">
  <!-- <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
  <link href="../../static/assets/css/main.css" rel="stylesheet" /> -->
  <!-- Bootstrap core CSS -->
  <link href="../../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../../static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="../../static/assets/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css">

  <!-- Custom styles for this template -->
  <link href="../../static/assets/css/landing-page.min.css" rel="stylesheet">
</head>

<body background-image="/img/Background.jpg">
  <!-- Navigation -->
  <!-- <nav class="navbar navbar- bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="home">Cookpedia</a>

    </div>
  </nav> -->

  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
            <h1 class="mb-5"><a href="../home">Cookpedia</a> ~ Ayam</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form method="POST" action="/resultayam/">
            {% csrf_token %}
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="text" class="form-control form-control-lg" name="querysearch"
                  placeholder="Telusuri Cookpedia">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Cari!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <br />
    </div>
  </header>

  <!--   <script src="../../static/assets/js/extention/choices.js"></script>
  <script>
    const choices = new Choices('[data-trigger]',
      {
        searchEnabled: false,
        itemSelectText: '',
      });

  </script> -->
  <!-- Bootstrap core JavaScript -->
  <script src="../../static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>