<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    .testimonials {
    padding-top: 3rem;
}
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>Resep {{Title}}</title>

  <!-- Bootstrap core CSS -->
  <link href="../../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../../static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="../../static/assets/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="../../static/assets/css/landing-page.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/home">Cookpedia</a>
      <!-- <a class="btn btn-primary" href="#">Pilih Buku</a>
         -->
    </div>
  </nav>

  <!-- Masthead -->
  <!-- <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">\_</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form method="POST" action="/search">
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="text" class="form-control form-control-lg" name="querysearch" placeholder="Masukkan Query Anda...">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Cari!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header> -->


  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      
        <h1 class="mb-3">Resep {{Title}}</h1><br/>
        <h4><b>Alat dan bahan:</b></h4>
        <p>{{Ingredients}}</p>
        <h4><b>Langkah-langkah:</b></h4>
        <p>{{Steps}}</p>

    </div>

  </section>

  
  <!-- Bootstrap core JavaScript -->
  <script src="../../static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
